.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 480px) {
    .header__nav {
        flex-direction: column;
        gap: 15px;
    }
}