.banner {
    display: grid;
    grid-template-columns: 560px 480px;
    column-gap: 64px;
    padding: 80px 64px 0;
    align-items: start;
    max-width: 1100px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .banner {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

@media screen and (max-width: 480px) {
    .banner {
        padding: 40px 20px;
    }
}