.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1100px;
  margin: 0 auto;
  padding: 120px 64px 0;
  gap: 0;
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    padding: 60px 20px 0;
  }
}

@media screen and (max-width: 480px) {
  .content {
    padding: 40px 20px 0;
  }
}