.testimonials__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .testimonials__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .testimonials__list {
        grid-template-columns: 1fr;
    }
}