
.testimonials__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 720px;
    margin: 0 0 80px;
}

@media screen and (max-width: 480px) {
    .testimonials__title {
        font-size: 24px;
    }
}