.place {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

@media screen and (max-width: 480px) {
    .place {
        padding: 40px 20px;
    }
}