.banner__title {
    max-width: 600px;
    font-size: 36px;
    margin: 20px 0 40px;
}

@media screen and (max-width: 768px) {
    .banner__title {
        font-size: 28px;
    }
}

@media screen and (max-width: 480px) {
    .banner__title {
        font-size: 22px;
    }
}