
.banner__title {
    font-size: 56px;
    line-height: 60px;
    font-weight: 700;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .banner__title {
        font-size: 28px;
    }
}

@media screen and (max-width: 480px) {
    .banner__title {
        font-size: 22px;
    }
}