.place--reverse {
    flex-direction: row-reverse;
}

    .place--reverse .place__image {
        order: 2;
    }

    .place--reverse .place__content {
        order: 1;
    }

@media screen and (max-width: 768px) {
    .place--reverse {
        direction: ltr;
    }
}